
.home_Wrapper
  clearfix()
  padding: 0
  margin: 0
  width: 100vw

////////////////////////////////////////////////////////////////////////////////
//Splash 
////////////////////////////////////////////////////////////////////////////////
.home_Wrapper
  #home_Background
    softRadialBG($pc)
    height: 100vh
    width: 100vw
  .splash_Container
    .logo
      left: 50%;
      transform: translate(-50%, 90%);
      z-index: 10
      position: absolute
      



//Hexagon
hexagon('.mainLogo', 500px, transparent, alpha(darken($pc, 20%), 0.89), 15px)

//Hexagon Position
.home_Wrapper
  .splash_Container
    .logo_Container
      align(center)
      .mainLogo
        margin-left: -255px
        top: 20%
        opacity: 0
      .mainLogoTitle
        position: absolute
        top: 40%
        z-index: 0
        text
          font-size: 7.5em
          fill: darken($sc, 5%)
        //hide text
      .introOne
        opacity: 0
        transform: scale(0)
        margin-left: -100px
      .introTwo
        opacity: 0
        transform: scale(0)
        margin-left: -150px
      .introThree
        opacity: 0
        transform: scale(0)
        margin-left: -50px
      .introFour
        opacity: 0
        transform: scale(0)
        margin-left: -150px
      // .avatar
      //   position: absolute
      //   top: 50%
      //   margin-left: -100px
      //   z-index: 5
      //   img
      //     size: 200px
      //     box-shadow: 0px 0px 40px -2px rgba(0,0,0,0.75)
      //     border-radius: 50%
      //     zoom: 1
      //     opacity: 0.5
      .mainLogoTag
        position: absolute
        margin-left: -175px
        top: 52%
        text
          &:first-child
            font-size: 3em
            fill: alpha(#C0392B, 0.85)
          &:nth-child(2)
            position: absolute
            font-size: 7.5em
            fill: alpha(#2980B9, 0.95)
          &:last-child
            position: absolute
            font-size: 3em
            fill: alpha(#C0392B, 0.85)

////////////////////////////////////////////////////////////////////////////////
//Style Break
////////////////////////////////////////////////////////////////////////////////
.about_Wrapper
  .styleBreak
    background: $sc
    width: 100vw
    background-image: url("../images/shadow.png");
    background-repeat: repeat-x;
    background-position: 0 0px;
    padding-top: 10px
    // margin-top: -5px 
    h1
      margin: 0
      padding: 0
      // line-height: 10px
      text-align: center
      font-family: $title
      font-style: normal
      color: $spc[0]

////////////////////////////////////////////////////////////////////////////////
//Hexagon Services
////////////////////////////////////////////////////////////////////////////////
// edit()
.about_Wrapper
  .mainBG
    //BackGround
    softRadialBG()
    width: 100%
    height: 800px
    position: absolute
  .aboutMe
    center(1080px)
    height: 100%
    margin-top: 75px
    margin-bottom: 35px
    .hex
      column('1/3')
      align(center)
      .hexAdj
        margin-left: -125px

//--------------------------//
//Hexagons
//-------------------------//
//Vars
$hexSize = 250px;
$hexBColor = $mc[0]
$hexBWidth = 10px
$hexShadow = 0 0 20px rgba(52,73,94,0.7)
//Mixin
hexIcon($class, $fontSize = 130px, $adjHight = 70px, $adjLeft = -15px)
  .home_Wrapper
    {$class}
      .icon_Container
        align()
        z-index: 2000
        size: 150px
        background: alpha(darken($gray, 80%), 0.4)
        position: absolute
        margin-left: -75px
        margin-top: 70px
        border-radius: 50%
        border: $hexBColor solid 5px
        .icon
          position: relative
          z-index: 3000
          color: $accent
          size: 100px
          font-size: $fontSize
          margin-top: $adjHight
          &:before
            margin-left: $adjLeft


//Make all hex bounce on focus
hoverBounce('.hex')
//entrepreneur hex
hexagon('.entHex', $hexSize, url("../images/entrepreneur.jpg"), $hexBColor, $hexBWidth, $hexShadow)
hexIcon('.entrepreneur', 120px, 63px, 10px)
//problem Hex
hexagon('.problemHex', $hexSize, url("../images/problem.jpg"), $hexBColor, $hexBWidth, $hexShadow)
hexIcon('.problem', 110px, 50px, 3px)
//Code Hex
hexagon('.codeHex', $hexSize, url("../images/code.jpg"), $hexBColor, $hexBWidth, $hexShadow)
hexIcon('.code')

//--------------------------//
//Hexagons Titles
//-------------------------//
// edit()
.about_Wrapper
  .hexContent
    align(center)
    width: 100%
    margin-top: 240px
    .title
      column('1/3')
      h3
        divider('bottom', 2px)
        font-family: $text
        text-align: center
        color: $gray




////////////////////////////////////////////////////////////////////////////////
//Projects
////////////////////////////////////////////////////////////////////////////////

// edit()

$boxColor = ks-quad($accent)

.myProjects
  center(1080px)
  height: 100%
  margin-top: 25px
  margin-bottom: 100px
  //Boxes
  .projectBoxs
    clearfix()
    column('1/2')
    .box_Wrapper
      clearfix()
      flex-container()
      align(center)
      margin-top: 50px
    //Box style
    //Hacky but time is a tickign
    .box
      column('1/2')
      align(center)
      float: left
      border: 5px solid $pc
      size: 200px
      transform: rotate(45deg)
      border-radius: 8px
      h3
        transform: rotate(-45deg)
        margin: 0
        font-family: $title
        color: darken($pc, 40%)
        transition: all 0.4s ease-in-out;
      &:hover
        h3
          color: $sc
          transition: all 0.4s ease-in-out;
      &:first-child
        background: alpha($accent, 0.3)
        z-index: 5
        &:hover
          background: alpha($accent, 0.8)
      &:nth-child(2)
        background: alpha($boxColor[0], 0.3)
        z-index: 4
        &:hover
          background: alpha($boxColor[0], 0.8)
      &:nth-child(3)
        background: alpha($boxColor[1], 0.3)
        z-index: 3
        &:hover
          background: alpha($boxColor[1], 0.8)
      &:nth-child(4)
        background: alpha($boxColor[2], 0.3) 
        z-index: 3
        &:hover
          background: alpha($boxColor[2], 0.8)
    //Box Hover
    .box
      cursor: pointer
      transition: all 0.4s ease-in-out;
    //Active State
    .active
      z-index: 10 !important
      h3
        color: $sc !important
  .projectDes
    column('1/2')
    h1
      divider('bottom', 2px)
      font-family: $title
    p
      font-family: $text
    a
      font-family: $text
      text-decoration: none
      color: #666
    .active
      display: block !important
    //Go FAst
    #goFast
      display: none
      h1
        color: alpha($accent, 0.8)
    #pageHappy
      display: none
      transform: translateX(200%)
      h1
        color: alpha($boxColor[0], 0.8)
    #materialBtn
      display: none
      transform: translateX(200%)
      h1
        color: alpha($boxColor[1], 0.8)
    #buttron
      display: none
      transform: translateX(200%)
      h1
        color: alpha($boxColor[2], 0.8)





////////////////////////////////////////////////////////////////////////////////
//Skills
////////////////////////////////////////////////////////////////////////////////
.mySkills
  center(1080px)
  height: 900px
  margin-top: 25px
  margin-bottom: 100px
  align(top-center)

.frontList
  column('1/3')
  align()
.backList
  column('1/3')
  align()
.misList
  column('1/3')
  align()

.listTitle
  color: $accent !important
  font-size: 1.5em !important

ul.list,
ul.list ul
  list-style-type: none;
  margin:0;
  padding:0;
    
ul.list ul
  margin-left:10px; 
  position:relative;

ul.list ul:before 
  content:"";
  display:block;
  width:0;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  border-left:1px solid #ccc;

ul.list li
  margin:0;
  padding:3px 12px;
  text-decoration: none;
  text-transform: uppercase;
  font-size:13px;
  line-height:20px;
  color:$fc;
  font-weight:normal;
  position:relative;

ul.list li a
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  text-transform: uppercase;
  font-family: $text
  font-size:14px;
  line-height:20px;
  color:$fc;
  font-weight:bold;
  position:relative;

ul.list li a:hover,
ul.list li a:hover+ul li a
  transition: all 0.2s ease-in-out;
  color: $accent;
    
ul.list ul li:before
  content:"";
  display:block;
  width:8px;
  height:0;
  border-top:1px solid $fc;
  position:absolute;
  top:10px;
  left: 0;
    
ul.list ul li:last-child:before 
  background: white; 
  height: auto;
  top: 10px; 
  bottom: 0;