$navBg = $pc
// edit()

.nav_Wrapper
  clearfix()
  nav
    //for nav intro
    transform: translateY(-100%)
    opacity: 0
    //styles
    transition: all 0.8s;
    position: fixed;
    top: 0;
    left: 0;
    right: 0px
    z-index: 1000;
    height: 250px;
    overflow: hidden;
    text-align:center;
    line-height: 220px;
    &:after, &:before
      transform: translateZ(0)
      transition: all 0.8s ease-in-out;
      background: none repeat scroll 0 0 alpha($navBg, 0.8);
      border-top: 13px solid alpha(darken($pc, 20%), 0.89)
      border-bottom: 13px solid alpha(darken($pc, 20%), 0.89)
      content: "";
      height: 150px;
      left: 0;
      position: fixed;
      top: 0;
      transform: skew(0deg, 8deg);
      width: 50%;
    &:after
      transform: translateZ(0)
      transition: all 0.8s ease-in-out;
      left: auto;
      right: 0px;
      transform: skew(0deg, -8deg);
      width: calc(50%);
    ul
      center(900px)
      align(center)
      margin-top: 10px
      list-style-type: none
    li
      column('1/5')
      text-align: center

// edit()
//Header Logo
.nav_Wrapper
  z-index: 2000
  .headerLogo
    transition: opacity 0.8s ease-in-out;
    opacity: 0
    height: 400px
    z-index: 2000
    position: fixed
    .headerLogoTitle
      position: absolute
      fill: alpha(#2980B9, 0.95)
    .headerLogoTag
      position: absolute
      fill: alpha($sc, 0.95)
.shrunk
  .headerLogo
    transition: opacity 0.8s ease-in-out;
    opacity: 1
  // .shrunk, .headerLogo
  //   display: block
  //   transform: scale(.3)


//Link Styles
.nav_Wrapper
  nav
    a
      z-index: 1000
      color: $sc
      font-family: $title
      text-transform: uppercase;
      display: inline-block;
      position: relative;
      letter-spacing: 1px;
      text-shadow: 0 0 1px rgba(255,255,255,0.3);
      font-size: 30px;
      font-weight:normal;
      text-decoration: none
      transition: all 0.8s;
      &:before, &:after 
        position: absolute;
        transform: translateZ(0)
        top: 60%;
        left: -10%;
        width: 120%;
        height: 3px;
        background: $sc;
        content: '';
        transition: transform 0.3s;
        transform: scale(0.85);
      &:after
        opacity: 0;
        transition: top 0.3s, opacity 0.3s, transform 0.3s;
      &:hover:before, &:hover:after, &:focus:before, &:focus:after
        transform: scale(1);
      &:hover:after, &:focus:after
        top: 35%;
        opacity: 1;

//Shrunk
.shrunk
  nav
    transition: all 0.3s ease-in-out;
    line-height: 100px;
    &:after, &:before
      transform: translateZ(0)
      height: 100px
      background: none repeat scroll 0 0 alpha($ag[1], 0.85);
      transition: all 0.8s ease-in-out;
      transform: skew(0deg, 0deg);
    &:after
      transform: translateZ(0)
      height: 100px
      transition: all 0.8s ease-in-out;
      transform: skew(0deg, 0deg);
    ul
      margin-top: 5px
    a
      transition: all 0.8s;
      font-size: 25px
      &:before, &:after 
        background: $accent
        top: 60%;
        width: 120%;
      &:hover:after, &:focus:after
        top: 30%;

