// {{comment}}

@font-face
  font-family: {{fontName}}
  src: url("{{fontPath}}/{{fontName}}.eot")
  src: url("{{fontPath}}/{{fontName}}.eot?#iefix") format('embedded-opentype'), url("{{fontPath}}/{{fontName}}.woff") format('woff'), url("{{fontPath}}/{{fontName}}.ttf") format('truetype'), url("{{fontPath}}/{{fontName}}.svg#{{fontName}}") format('svg')
  font-weight: normal
  font-style: normal

icon($content = "")
  &:before
    -moz-osx-font-smoothing: grayscale
    -webkit-font-smoothing: antialiased
    content: $content
    font-family: "{{fontName}}"
    font-style: normal
    font-variant: normal
    font-weight: normal
    // line-height: 1
    speak: none
    text-transform: none
    {block}
.icon
  icon()

{% for icon in icons -%}
// Save variable
$icon-{{icon.name}} = "\{{icon.code}}"
// Save mixin
icon--{{icon.name}}()
  icon($icon-{{icon.name}})
// Expose as class
.icon.-{{icon.name}}:before
  content: $icon-{{icon.name}}
{% endfor %}
