
extends _layouts/mainLayout.jade
script(type="application/javascript", src="js/script.js")
block title
  title Home

block content
  .home_Wrapper
    .splash_Container
      #home_Background
      .logo_Container
        svg.mainLogoTitle.introOne(width='220', height='200')
          text(
            y='150',
            textLength='200',
            font-family="'Leckerli One', cursive") My
        svg.mainLogoTitle.introTwo(width='300', height='200')
          text(
            x='0', 
            y='150',
            textLength='280',
            font-family="'Leckerli One', cursive") Name
        svg.mainLogoTitle.introThree(width='95', height='200')
          text(
            x='0', 
            y='150',
            textLength='75',
            font-family="'Leckerli One', cursive") Is
        svg.mainLogoTitle.introFour(width='300', height='200')
          text(
            x='0', 
            y='150',
            textLength='280',
            font-family="'Leckerli One', cursive") Tyler
        //-   text(
        //-     x='0', 
        //-     y='85',
        //-     textLength='350',
        //-     font-family="'Leckerli One', cursive") I Do Modern
        //-   text(
        //-     x='20', 
        //-     y='200',
        //-     textLength='280',
        //-     font-family="'Leckerli One', cursive") Web
        //-   text(
        //-     x='20', 
        //-     y='250',
        //-     textLength='300',
        //-     font-family="'Leckerli One', cursive") Development
        .mainLogo
          span
  .about_Wrapper
    .styleBreak
      h1 About
      h1 Me
    .mainBG
    section.aboutMe
      //entrepreneur
      .hex.entrepreneur
        .entHex.hexAdj
          .hexTop
          .hexBottom
        .icon_Container
          .icon.-lightbulb
      //problem solving
      .hex.problem
        .problemHex.hexAdj
          .hexTop
          .hexBottom
        .icon_Container
          .icon.-puzzle
      //Code
      .hex.code
        .codeHex.hexAdj
          .hexTop
          .hexBottom
        .icon_Container
          .icon.-code
      .hexContent
        .title
          h3 Entrepreneur
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates consequatur sequi dolore inventore perferendis nobis possimus aspernatur atque distinctio, vero ea maxime quos tenetur autem, iusto. Quasi eaque error porro.
        .title
          h3 Problem Solver
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates consequatur sequi dolore inventore perferendis nobis possimus aspernatur atque distinctio, vero ea maxime quos tenetur autem, iusto. Quasi eaque error porro.
        .title
          h3 Code Extraordinaire
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates consequatur sequi dolore inventore perferendis nobis possimus aspernatur atque distinctio, vero ea maxime quos tenetur autem, iusto. Quasi eaque error porro.
    //
    //Porjects
    //
    .styleBreak
      h1 My
      h1 Projects
    section.myProjects
      .projectBoxs
        .box_Wrapper
          //Hacky, but time is ticking
          .goFast.box.active(style='background-color: rgba(52, 152, 219, 0.8);')
            h3 Go Fast
          .pageHappy.box
            h3 Page Happy
          .materialBtn.box
            h3 Material Btn
          .buttron.box
            h3 Buttron
      .projectDes
        #goFast.active
          h1 GoFast
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus eum maiores, enim porro asperiores nobis, fuga. Asperiores sint voluptatum magni laudantium, voluptas aliquam placeat molestias est accusamus earum velit praesentium?
          .link
            a(href="#" class="icon -git")  Project Code
        #pageHappy
          h1 Page Happy
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus eum maiores, enim porro asperiores nobis, fuga. Asperiores sint voluptatum magni laudantium, voluptas aliquam placeat molestias est accusamus earum velit praesentium?
          .link
            a(href="#" class="icon -git")  Project Code
        #materialBtn
          h1 Material
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus eum maiores, enim porro asperiores nobis, fuga. Asperiores sint voluptatum magni laudantium, voluptas aliquam placeat molestias est accusamus earum velit praesentium?
          .link
            a(href="#" class="icon -git")  Project Code
        #buttron
          h1 Buttron
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus eum maiores, enim porro asperiores nobis, fuga. Asperiores sint voluptatum magni laudantium, voluptas aliquam placeat molestias est accusamus earum velit praesentium?
          .link
            a(href="#" class="icon -git")  Project Code
    //
    //Skills
    //
    .styleBreak
      h1 My
      h1 Projects
    section.mySkills
      .frontList
        ul.list
          li
            a(href='#' class="listTitle") Front End
            ul
              li
                a(href='#') Code
                ul
                  li
                    a(href='#') Html
                    ul
                      li
                        a(href='#') Html5
                      li
                        a(href='#') Jade
                      li
                        a(href='#') Handlebars
                  li
                    a(href='#') Css
                    ul
                      li
                        a(href='#') Css3
                      li
                        a(href='#') Stylus
                      li
                        a(href='#') Sass
                  li
                    a(href='#') Javascript
                    ul
                      li
                        a(href='#') Jquery
                      li
                        a(href='#') GSAP
                      li
                        a(href='#') Various Packages
              li
                a(href='#') Frameworks
                ul
                  li
                    a(href='#') Meteor
                  li
                    a(href='#') Angular

      .backList
        ul.list
          li
            a(href='#' class="listTitle") Back End
            ul
              li
                a(href='#') Database
                ul
                  li
                    a(href='#') NoSQL
                    ul
                      li
                        a(href='#') Mongo
                      li
                        a(href='#') Redis
                  li
                    a(href='#') SQL
                    ul
                      li
                        a(href='#') mysql
              li
                a(href='#') Nodejs 
                ul
                  li
                    a(href='#') Express js
      
      .misList
        ul.list
          li
            a(href='#' class="listTitle") Related Software
            ul
              li
                a(href='#') Adobe
                ul
                  li
                    a(href='#') Photoshop
                  li
                    a(href='#') Illustrator
              li
                a(href='#') 3D Rendering
                ul
                  li
                    a(href='#') CAD
                    ul
                      li
                        a(href='#') Vectorworks
                    a(href='#') Animation
                    ul
                      li
                        a(href='#') Modo

//- block script
//-   script(type="application/javascript", src="assets/js/app.js")
        svg.mainLogoTag(width='200', height='50')
          text(
            x='0', 
            y='25', 
            textLength='200',
            font-family="'Osefin Slab', serif'") Landscape Design